#logo {
    max-width: 150px;
    display: block;
    
}

#logo-drawer{
    max-width: 150px;
    margin: 0 auto;
}


#product-container{
    margin-top: 12rem;
}

@media (max-width: 599px) {
    #shopping-cart{
        margin-left: auto; 
    }

    #product-container{
        max-width: 300px;
    }
}
