#logo {
    max-width: 150px;
    display: block;
    
}

#logo-drawer{
    max-width: 150px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    #shopping-cart{
        margin-left: auto; 
    }
}